body {
    font-family: "Mali", cursive;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
header {
    background-color: rgb(58, 184, 206);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}
nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 2rem 0;
}
section {
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 2rem;
    margin-top: 0;
    color :rgb(58, 184, 206)
}
ul {
    padding: 0;
    list-style-type: none;
}
ul li {
    margin-bottom: 1.5rem;
}
h3 {
    margin-top: 0;
    font-size: larger;
    padding: 1rem;
    color :rgb(58, 184, 206)
}
img {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
    gap: 800px;
  }


footer {
    background-color: #a1a1a1;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .container {
        width: 90%;
    }

    img {
        width: 300;
        height: 300;
        object-fit: cover;
    }
}